{% extends 'main/base.html' %}
{% block content %}
{% include 'main/navbar.html' %}
  <div class="container">
    <h1 class="center-align">HOMEPAGE</h1>

    <div class="row">
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <img class="materialboxed responsive-img" src="https://s3.zerochan.net/240/38/23/1628688.jpg">

          <span class="card-title">{{ name }}</span>
          <p></p>
        </div>
        <div class="card-action">
          <a href="https://github.com/anujpandey785">Github</a>
          <a href="#">LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">About me</span>
          <p>{{ about_me }}</p>
        </div>
      </div>
  </div>

 
{% endblock %}


{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });
</script>
{% endblock %}