{% extends 'main/base.html' %}
{% block content %}
{% include 'main/navbar.html' %}
{% include 'main/slider.html' %}

<div class="container">
    <div class="row" >
    <div class="col s12 m6" style= "padding: 50px 5px;">
      <div class="card ">
        <div class="card-content white-text">
          <blockquote>
          <span class="card-title" class="flow-text" style="color: crimson;" >Mozilla Blog</span>
          <div class="card-action">
            <a href="https://blog.mozilla.org/l10n/2020/09/25/l10n-report-september-2020-edition/#Download_Terminology_and_TM_from_dashboards"> ‎‏Remarks on my First Open Source Contribution</a>
          </div>
          </blockquote>
          
        </div>
      </div>
  </div>
</div>
</div>


{% include 'main/footer.html' %}
{% endblock %}
